<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Pages/Dashboard.aspx" />
      </files>
    </defaultDocument>

    <handlers>
      <add name="ASPClassic" path="*.asp" verb="*" modules="IsapiModule" scriptProcessor="c:\windows\system32\inetsrv\asp.dll" resourceType="Unspecified" />
      <add name="ASPX" path="*.aspx" verb="*" modules="IsapiModule" scriptProcessor="c:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="Redirect to Dashboard" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/Pages/dashboard.aspx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
