<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Pages/Dashboard.aspx" />
      </files>
    </defaultDocument>

    <handlers>
      <add name="ASPClassic" path="*.asp" verb="*" modules="IsapiModule" 
           scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" 
           resourceType="Unspecified" />
      <add name="ASPX" path="*.aspx" verb="*" modules="IsapiModule"
           scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" 
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <asp scriptErrorSentToBrowser="true" />
    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <customErrors mode="Off" />
  </system.web>
</configuration>
